{:paths ["src"]
 :deps  {org.clojure/clojurescript {:mvn/version "1.10.773"}
         thheller/shadow-cljs      {:mvn/version "2.11.18"}
         binaryage/oops            {:mvn/version "0.7.0"}
         macchiato/hiccups         {:mvn/version "0.4.1"}
         com.taoensso/timbre       {:mvn/version "5.1.2"}
         cljs-ajax/cljs-ajax       {:mvn/version "0.8.1"}}}
